body{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
div#main{
    width: 100%;
    background-color: #fff;
}
table.inner{
    width: 75%;
    margin: 30px auto 0 auto;
}

td.survey{
    height: 48px ;
    background:url(../images/h1.jfif)   no-repeat 0;
    border-bottom: 2px solid 	#5F9EA0;
    background-size: 140px auto;
    text-align: left;
}
.survey h1{
    margin-left: 280px;
    font-size: 1.5em;
}

div#cont-1{
    width: 100%;
    margin: 0 0 2px 0;
}
table.question-cont1{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid 	#AFEEEE;
    padding: 1px;
}
td.question1{
    background-color: 	#AFEEEE;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    padding: 6px 10px;
}
td.answer1{
    padding: 11px 24px 16px 37px;
} 
td.answer1 ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
td.answer1 ul li{
    margin: 0 0 0.5em 0.5em;
}

td.submit{
    text-align: center;
    width: 100%;
    background-color: #AFEEEE;
}
button.button{
    border-radius: 20%;
    background-color: #AFEEEE;
    border: 2px solid white;
}
button span{
    padding: 0.4em 0.8em;
    font-size: 16px;
    color: #0070a3;
    font-weight: bold;
}